*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#ffffff;
}

section{
    padding:3vh 5vw;
}

/* NAVBAR */

.navbar{
    text-align:center;
}

.logo,
.nav,
.user{
    display:inline-block;
    vertical-align:middle;
}

.logo{
    width:20%;
    text-align:left;
}

.logo span{
    font-size:1.4vw;
    font-weight:bold;
    color:#34495e;
}

.nav{
    width:60%;
    text-align:center;
}

.nav ul{
    list-style:none;
}

.nav ul li{
    display:inline-block;
    margin:0 1vw;
}

.nav ul li a{
    text-decoration:none;
    color:#7f8c8d;
    /* font-size:1vw; */
    transition:0.3s;
}

/* Hover effect for navigation links */
.nav ul li a:hover{
    color:#ffffff;
    background-color:#3498db ;
    padding: 10px;

}

.user{
    width:15%;
    text-align:right;

}

.user span{
    display:inline-block;
    background:#dff1ff;
    padding:20px;
    border-radius:10px;
    color:#3498db;
    font-size:15px;
    font-weight:bold;
}

/* HERO SECTION */

.hero{
    /* Prevent content from stretching too much on large screens */
    max-width:1400px;

    /* Center hero section */
    margin:0 auto;

    padding-top:6vh;
    font-size:0;
}

.left,
.right{
    display:inline-block;
    vertical-align:middle;
    font-size:16px;
}

.left{
    width:55%;
    margin: 30px;
}

.left h1{

    /* Large heading should grow based on screen width */
    font-size:3vw;

    line-height:1.3;
    color:#34495e;
}

.left h1 span{
    color:#3498db;
}

.left p{

    /* Paragraph text should stay smaller than heading */
    font-size:1.2vw;

    margin-top:2vh;
    line-height:1.6;
    color:#555;
}

.left button{
    margin-top:4vh;
    padding:2vh 2.5vw;
    background:#3498db;
    color:white;
    border:none;
    border-radius:0.7vw;

    /* Button text responsive to screen width */
    font-size:1vw;

    cursor:pointer;
    transition:0.3s;
}

/* Hover effect for button */
.left button:hover{
    background:#217dbb;

    /* Slight zoom effect */
    transform:scale(1.05);
}

.right{
    width:40%;
    text-align:right;
}

.right img{
    width:100%;
    max-width:450px;
}

